/node_modules/
/build/

/src/ts/appInfo.ts

/static/public/codemirror/
/static/public/index.html
/static/public/jquery.min.js
/static/public/jqwidgets/
/static/public/mudslinger-*.js
/static/test/mudslingerTest.js
/static/test/mudslingerTestOutput.js
/static/test/qunit/
/static/docs/
