<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <script>
document.addEventListener('DOMContentLoaded', function() {
    let backupsStr = localStorage.getItem('userConfigConvertBackup');
    let backups = backupsStr ? JSON.parse(backupsStr) : [];
    let userConfig = localStorage.getItem('userConfig');
    backups.push(userConfig);
    localStorage.setItem('userConfigConvertBackup', JSON.stringify(backups));
    localStorage.removeItem('userConfig');

    location.replace('{{ redir }}');
});
  </script>
</head>
<body>
</body>
</html>
