{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Profiles{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('user.create_profile') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <div style="display:none" class='import-alert'>
    <p>
      Local settings detected.
      These are settings that you saved while playing without a profile.
      These settings are saved to the browser <b>localStorage</b>, so won't be available when playing from other devices.
      <br>
      <br>
      <form action="{{ url_for('user.convert_local') }}" method=POST>
        <input type="hidden" name="user_config" id="user_config" >
        <input type="submit" value="Convert to Permanent Profile">
      </form>
    </p>
    <hr>
  </div>
  {% for profile in profiles %}
    <div>{{ profile['name'] }}</div>
    <div>{{ profile['host'] }}:{{ profile['port'] }}</div>
    <div>
      <a href="/play/?profile={{profile['id']}}">Connect</a>
      <a href="{{ url_for('user.edit_profile', pr_id=profile['id']) }}">Edit</a>
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}

  <script type="text/javascript">
document.addEventListener('DOMContentLoaded', function() {
  let userConfig = localStorage.getItem('userConfig');
  if (userConfig) {
    let inp = document.getElementById('user_config');
    inp.value = userConfig;
    let div = document.getElementsByClassName('import-alert')[0];
    div.style.display = 'initial';
  }
});
  </script>
{% endblock %}
