configServer.js
/node_modules/
/ts/build/

# generated source files
/ts/src/client/appInfo.ts

/static/public/codemirror/
/static/public/jqwidgets/
/static/public/jquery.min.js
/static/public/socket.io.min.js
/static/public/mudslinger-*.js
/static/public/index.html
/static/test/qunit/
/static/test/sinon.js
/static/test/mudslingerTest.js

/dist/
/mudslinger.sublime-workspace
venv/
**/*.pyc
