{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Login{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

  <a href="{{ url_for('auth.register') }}">Register a new account</a>
  <br>
  <a href="{{ url_for('auth.reset_password') }}">Reset password</a>
{% endblock %}
