<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Mudslinger API Server Admin</h1>
  <ul>
    {% if g.user %}
      <li><a href="{{ url_for('admin.proxy_conn_monitor') }}">
            Proxy Connection Monitor</a>
      </li>
    
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.admin_logout') }}">Log Out</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>